##### Our local government is thinking about imposing a sales tax with 15, 20 and 25 percent rates.
##### Show how much less you would net with each of these tax amounts by adding columns to the data frame. 
##### Add column for the current income to the data frame as well.

In [1]:
import pandas as pd

In [2]:
# create a DataFrame from the list of dictionaries below:
store_data = [
    {'product_id' : 23, 'name' : 'computer', 'wholesale_price' : 500, 'retail_price' : 1000, 'sales' : 100},
    {'product_id' : 96, 'name' : 'Phython Workout', 'wholesale_price' : 35, 'retail_price' : 75, 'sales' : 1000},
    {'product_id' : 97, 'name' : 'Pandas Workout', 'wholesale_price' : 35, 'retail_price' : 75, 'sales' : 500},
    {'product_id' : 15, 'name' : 'banana', 'wholesale_price' : 0.5, 'retail_price' : 1, 'sales' : 200},
    {'product_id' : 87, 'name' : 'sandwich', 'wholesale_price' : 3, 'retail_price' : 5, 'sales' : 300}
]

In [3]:
store_df = pd.DataFrame(store_data)
# set_index as values of name column instead of the default indexes (0 to -1) 
store_df.set_index('name', inplace = True)
store_df

                 product_id  wholesale_price  retail_price  sales
name
computer                 23            500.0          1000    100
Phython Workout          96             35.0            75   1000
Pandas Workout           97             35.0            75    500
banana                   15              0.5             1    200
sandwich                 87              3.0             5    300

In [4]:
# calculate the current income (net revenue per product)
# add column of current income to dataframe
net_revenue_per_product = (store_df['retail_price'] - store_df['wholesale_price']) * store_df['sales']
store_df['initial_net_revenue'] = net_revenue_per_product
store_df

,product_id,wholesale_price,retail_price,sales,initial_net_revenue
name,,,,,
computer,23,500.0,1000,100,50000.0
Phython Workout,96,35.0,75,1000,40000.0
Pandas Workout,97,35.0,75,500,20000.0
banana,15,0.5,1,200,100.0
sandwich,87,3.0,5,300,600.0

##### Calculate net income after imposing taxes of 15, 20 and 25 percent rates on sales
##### Add the net income columns obtained after imposing each tax rate on sales to the dataframe
##### Show how much less you would net with each of these tax amounts

In [5]:
# net income after 15% tax on sales
net_income_after_15pct_tax = ((100 - 15)/100) * store_df['initial_net_revenue']
store_df['net_income_after_15pct_tax'] = net_income_after_15pct_tax

pct15_much_less = store_df['initial_net_revenue'] - store_df['net_income_after_15pct_tax']
print('This is how much less I would net with 15% tax rate on sales:')
pct15_much_less

This is how much less I would net with 15% tax rate on sales:

name
computer           7500.0
Phython Workout    6000.0
Pandas Workout     3000.0
banana               15.0
sandwich             90.0
dtype: float64

In [6]:
# net income after 20% tax on sales
net_income_after_20pct_tax = ((100 - 20)/100) * store_df['initial_net_revenue']
store_df['net_income_after_20pct_tax'] = net_income_after_20pct_tax

pct20_much_less = store_df['initial_net_revenue'] - store_df['net_income_after_20pct_tax']
print('This is how much less I would net with 20% tax rate on sales:')
pct20_much_less

This is how much less I would net with 20% tax rate on sales:

name
computer           10000.0
Phython Workout     8000.0
Pandas Workout      4000.0
banana                20.0
sandwich             120.0
dtype: float64

In [7]:
# net income after 25% tax on sales
net_income_after_25pct_tax = ((100 - 25)/100) * store_df['initial_net_revenue']
store_df['net_income_after_25pct_tax'] = net_income_after_25pct_tax

pct25_much_less = store_df['initial_net_revenue'] - store_df['net_income_after_25pct_tax']
print('This is how much less I would net with 25% tax rate on sales:')
pct25_much_less

This is how much less I would net with 25% tax rate on sales:

name
computer           12500.0
Phython Workout    10000.0
Pandas Workout      5000.0
banana                25.0
sandwich             150.0
dtype: float64

In [8]:
print('The data frame with the initial net revenue and net incomes after imposing a 15, 20 and 25 percent tax rate on sales is:')
store_df

The data frame with the initial net revenue and net incomes after imposing a 15, 20 and 25 percent tax rate on sales is:

,product_id,wholesale_price,retail_price,sales,initial_net_revenue,net_income_after_15pct_tax,net_income_after_20pct_tax,net_income_after_25pct_tax
name,,,,,,,,
computer,23,500.0,1000,100,50000.0,42500.0,40000.0,37500.0
Phython Workout,96,35.0,75,1000,40000.0,34000.0,32000.0,30000.0
Pandas Workout,97,35.0,75,500,20000.0,17000.0,16000.0,15000.0
banana,15,0.5,1,200,100.0,85.0,80.0,75.0
sandwich,87,3.0,5,300,600.0,510.0,480.0,450.0