# **Week 9 Practice Lab**

### In this exercise, we're going to identify missing values, one of the most common problems that you will encounter. We'll see just how often there are missing values, and what effect they might have.

#### Create a data frame from the file **nyc-parking-violations-2020.csv.** We are only interested in a handful of the columns:

1. Plate ID
2. Registration State
3. Vehicle Make
4. Vehicle Color
5. Violation Time
6. Street Name

In [1]:
import pandas as pd

# create a list of columns you want to load into Data Frame
# load CSV file with pandas read_csv function
cols_list = ['Plate ID', 'Registration State', 'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name']
parking_violations = pd.read_csv('C:\Data Analytics Professional\Week 9/violations.csv', usecols = cols_list)

In [2]:
violations_df = pd.DataFrame(parking_violations)
violations_df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
3,57387MJ,NY,NaN,0444P,W 33rd St,WH
4,M81KFJ,NJ,TOYOT,0723A,WB FOSTER AVE @ E 18,NaN
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,0342P,EB E 125TH ST @ 2ND,RD
49996,174ZYG,CT,TOYOT,0828A,W 13th St,BLACK
49997,HES6895,NY,CADIL,0933P,E 182nd St,RD
49998,63035MN,NY,ISUZU,1215P,W Kingsbridge Rd,WH
49999,AW74165,CT,HONDA,0128P,Canal Pl,BLACK

## **Questions**

1. How many rows are in the data frame when it is read into memory?

In [3]:
# total number of rows is the first value of the tuple obtained when you use the shape attribute on a dataframe
total_rows = violations_df.shape[0]
print(f'The number of rows the data frame when it is read into memory is: {total_rows:,}')

The number of rows the data frame when it is read into memory is: 50,000

2.
a). Remove rows with any missing data (i.e., a NaN value).

In [4]:
pruned_df = violations_df.dropna(axis = 'index', how = 'any')
pruned_df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
5,KDW9420,NY,INFIN,0655P,NB KNAPP ST @ VOORHI,BK
6,HLB4150,NY,HONDA,1049A,Surf Ave,GY
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,0342P,EB E 125TH ST @ 2ND,RD
49996,174ZYG,CT,TOYOT,0828A,W 13th St,BLACK
49997,HES6895,NY,CADIL,0933P,E 182nd St,RD
49998,63035MN,NY,ISUZU,1215P,W Kingsbridge Rd,WH
49999,AW74165,CT,HONDA,0128P,Canal Pl,BLACK

b). How many rows remain after doing this pruning?

In [5]:
remaining_rows = pruned_df.shape[0]
print(f'The number of rows that remain after removing rows with any missing data(i.e., NaN values) is: {remaining_rows:,}')

The number of rows that remain after removing rows with any missing data(i.e., NaN values) is: 47,446

c). If each parking ticket brings $100 into the city, and missing data means that the ticket can be successfully contested, how much money might New York City lose as a result of such missing data?

In [6]:
money_might_lose = (total_rows - remaining_rows) * 100
print(f'The amount of money New York City might lose as a result of tickets being successfully contested as a result of missing data is: $ {money_might_lose:,.2f}')

The amount of money New York City might lose as a result of tickets being successfully contested as a result of missing data is: $ 255,400.00

3. Let's instead assume that a ticket can only be dismissed if the license plate, state, car make, and/or street name are missing.

a). Remove rows that are missing one or more of these.

In [7]:
conditional_prunned_df = violations_df.dropna(axis = 'index', how = 'any', subset = ['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name'])
conditional_prunned_df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
4,M81KFJ,NJ,TOYOT,0723A,WB FOSTER AVE @ E 18,NaN
5,KDW9420,NY,INFIN,0655P,NB KNAPP ST @ VOORHI,BK
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,0342P,EB E 125TH ST @ 2ND,RD
49996,174ZYG,CT,TOYOT,0828A,W 13th St,BLACK
49997,HES6895,NY,CADIL,0933P,E 182nd St,RD
49998,63035MN,NY,ISUZU,1215P,W Kingsbridge Rd,WH
49999,AW74165,CT,HONDA,0128P,Canal Pl,BLACK

b). How many rows remain?

In [8]:
total_rows_remaining = conditional_prunned_df.shape[0]
print(f'The number of rows remaining after removing rows missing license plate, state, car make, and/or street name values is: {total_rows_remaining:,}')

The number of rows remaining after removing rows missing license plate, state, car make, and/or street name values is: 49,856

c). Assuming $100/ticket, how much money would the city lose as a result of this missing data?

In [9]:
missing_data_money_loss = (total_rows - total_rows_remaining) * 100
print(f'The total amount of money the city would lose as a result of this missing data is: ${missing_data_money_loss:,.2f}')

The total amount of money the city would lose as a result of this missing data is: $14,400.00

# **Week 9 Peer Programming Project**

Using the same **nyc-ticket-violation dataset**, let's assume that tickets can be dismissed if the license plate, state, and/or street name are all there but without requiring the make of car.

1. Remove rows that are missing one or more of these.

In [10]:
new_prunned_df = violations_df.dropna(axis = 'index', how = 'any', subset = ['Plate ID', 'Registration State', 'Street Name'])
new_prunned_df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
3,57387MJ,NY,NaN,0444P,W 33rd St,WH
4,M81KFJ,NJ,TOYOT,0723A,WB FOSTER AVE @ E 18,NaN
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,0342P,EB E 125TH ST @ 2ND,RD
49996,174ZYG,CT,TOYOT,0828A,W 13th St,BLACK
49997,HES6895,NY,CADIL,0933P,E 182nd St,RD
49998,63035MN,NY,ISUZU,1215P,W Kingsbridge Rd,WH
49999,AW74165,CT,HONDA,0128P,Canal Pl,BLACK

2. How many rows remain?

In [11]:
num_rows_remain = new_prunned_df.shape[0]
print(f'The number of rows that remain after removing rows missing one or more values in the columns representing license plate, state, and/or street name is: {num_rows_remain:,}')

The number of rows that remain after removing rows missing one or more values in the columns representing license plate, state, and/or street name is: 49,990

3. Assuming $100/ticket, how much money would the city lose as a result of this?

In [12]:
amount_will_lose = num_rows_remain * 100
print(f'The total amount of money the city would lose as a result of tickets dismissal for those who provided their license plate, state, and/or street name is: $ {amount_will_lose:,.2f}')

The total amount of money the city would lose as a result of tickets dismissal for those who provided their license plate, state, and/or street name is: $ 4,999,000.00